<div class="container">
  <h2>Registration</h2>
  <form [formGroup]="registrationForm">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input [class.is-invalid]="registrationForm.get('name')!.invalid && registrationForm.get('name')!.touched" formControlName="name" type="text" class="form-control" id="exampleInputName">
      <small
        [class.d-none]="
          registrationForm.get('name')!.valid ||
          registrationForm.get('name')!.untouched
        "
        class="text-danger"
        >Name is required</small
      >
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">Email ID</label>
      <input [class.is-invalid]="
      registrationForm.get('email')!.invalid &&
      registrationForm.get('email')!.touched
    " formControlName="email" type="email" class="form-control" id="exampleInputEmail">
    </div>
    <div
        *ngIf="
          registrationForm.get('email')!.invalid &&
          registrationForm.get('email')!.touched
        "
      >
        <small
          *ngIf="registrationForm.get('email')!.errors?.required"
          class="text-danger"
          >Email is required</small
        >
        <small
          *ngIf="registrationForm.get('email')!.errors?.email"
          class="text-danger"
          >Invalid Email</small
        >
      </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Create Password</label>
      <input [class.is-invalid]="
      registrationForm.get('password')!.invalid &&
      registrationForm.get('password')!.touched
    " formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    <div
        *ngIf="
          registrationForm.get('password')!.invalid &&
          registrationForm.get('password')!.touched
        "
      >
        <small
          *ngIf="registrationForm.get('password')!.errors?.required"
          class="text-danger"
          >Password is required</small
        >
        <small
          *ngIf="registrationForm.get('password')!.errors?.pattern"
          class="text-danger"
          >Password should be at least 8 characters long and should contain one
          number,one character and one special character.
        </small>
      </div>

    </div>
    <div class="mb-3">
      <label for="exampleInputMob" class="form-label">Mobile Number</label>
      <input [class.is-invalid]="
      registrationForm.get('mob')!.invalid &&
      registrationForm.get('mob')!.touched
    " formControlName="mob" type="number" class="form-control" id="exampleInputMob">
    <div
        *ngIf="registrationForm.get('mob')!.invalid &&
          registrationForm.get('mob')!.touched"
      >
        <small *ngIf="registrationForm.get('mob')!.errors?.required"
          class="text-danger">Mobile number is required</small
        >
        <small
          *ngIf="registrationForm.get('mob')!.errors?.pattern"
          class="text-danger"
          >Enter valid mobile number
        </small>
      </div>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputCity" class="form-label">Current City</label>
      <input [class.is-invalid]="
      registrationForm.get('city')!.invalid &&
      registrationForm.get('city')!.touched
    " formControlName="city" type="text" class="form-control" id="exampleInputCity">
    <small
        [class.d-none]="
          registrationForm.get('city')!.valid ||
          registrationForm.get('city')!.untouched
        "
        class="text-danger"
        >City is required</small
      >
    </div>

    <div>
      <h4>Family Details</h4>
      <div formArrayName="familyMembers" *ngFor="let members of familyMembers.controls; let i = index">
        <div [formGroupName]="i">
          <label for="exampleInputName" class="form-label">Name</label>
          <input [class.is-invalid]="members.get('name')!.invalid &&
          members.get('name')!.touched" type="text" formControlName="name" class="form-control mb-3"/>

          <label for="exampleInputName" class="form-label">Relation</label>
          <input type="text" formControlName="relation" class="form-control"/>
        </div>
      </div>
      <button class="btn btn-success mt-4 mb-4 mx-5" type="button" (click)="addFamilyMembers()">
        Add Family Members
      </button>
      <button class="btn btn-danger mt-4 mb-4 mx-5" type="button" (click)="deleteFamilyMembers()">Remove Family Members</button>
    </div>

    <div>
      <button routerLink="/output" type="submit" class="btn btn-primary mb-3" (click)="onClick()">Submit</button>

    </div>
  </form>
</div>

<router-outlet></router-outlet>